<p id="notice"><%= notice %></p>

<p>
  <b>Candidato:</b>
  <%= @candidatura.candidato.nome_campanha %>
</p>

<p>
  <b>Cargo:</b>
  <%= @candidatura.cargo_eleicao.cargo.nome %>
</p>

<p>
  <b>Partido:</b>
  <%= @candidatura.partido.nome %>
</p>

<p>
  <b>Código do candidato:</b>
  <%= @candidatura.codigo_candidato %>
</p>


<%= link_to content_tag(:span, "Alterar"), edit_candidatura_path(@candidatura) %> |
<%= link_to content_tag(:span, "Voltar"), candidaturas_path %>
