<%= simple_form_for(@secao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :zona, :include_blank => false, :collection => Zona.all, :label_method => lambda { |obj| obj.endereco.municipio.nome + " - " + obj.descricao} %>
    <%= f.input :limite_eleitores %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
