<div class="page-header"><h1>Lista de Seções</h1></div>

<div class="btn-group">
  <% Zona.all.each do |zo| %>
    <%= link_to zo.descricao, secaos_path(:zona => zo.id), :class => "btn btn-small" %>
  <% end %>
</div>
<br>
<br>


<table class="table table-condensed table-striped">
  <tr>
    <th>Estado</th>
    <th>Municipio</th>
    <th>Zona</th>
    <th>Seção</th>
    <th>Limite de eleitores</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @secaos.each do |secao| %>
  <tr>
    <td><%= secao.zona.endereco.municipio.uf.nome %></td>
    <td><%= secao.zona.endereco.municipio.nome %></td>
    <td><%= secao.zona.id %></td>
    <td><%= secao.codigo %></td>
    <td><%= secao.limite_eleitores %></td>
    <td><%= link_to content_tag(:span, "Exibir"), secao, :class => "btn btn-small" %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_secao_path(secao), :class => "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Secao', new_secao_path %>
