<h1>Lista de secaos</h1>

<% Zona.all.each do |zo| %>
  <%= link_to zo.descricao, secaos_path(:zona => zo.id)%>
<% end %>

<table>
  <tr>
    <th>Estado</th>
    <th>Municipio</th>
    <th>Zona</th>
    <th>Seção</th>
    <th>Limite de eleitores</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @secaos.each do |secao| %>
  <tr>
    <td><%= secao.zona.endereco.municipio.uf.nome %></td>
    <td><%= secao.zona.endereco.municipio.nome %></td>
    <td><%= secao.zona.id %></td>
    <td><%= secao.codigo %></td>
    <td><%= secao.limite_eleitores %></td>
    <td><%= link_to content_tag(:span, "Exibir"), secao %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_secao_path(secao) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Secao', new_secao_path %>
