<h1>Lista de secaos</h1>

<table>
  <tr>
    <th>Limite eleitores</th>
    <th>Zona</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @secaos.each do |secao| %>
  <tr>
    <td><%= secao.limite_eleitores %></td>
    <td><%= secao.zona %></td>
    <td><%= link_to content_tag(:span, "Exibir"), secao %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_secao_path(secao) %></td>
    <td><%= link_to content_tag(:span, "Excluir"), secao, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Secao', new_secao_path %>
