<%= simple_form_for(@municipio) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :uf, :include_blank => false, :collection => Uf.all, :label_method => lambda { |obj| obj.nome } %>
    <%= f.input :nome %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
