<div class="page-header"><h1>Lista de municipios</h1></div>

<% Uf.all.each do |uf| %>
  <%= link_to uf.nome, municipios_path(:estado => uf.id)%>
<% end %>

<table class="table table-condensed table-striped">
  <tr>
    <th>Uf</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
    <td><%= municipio.uf.nome %></td>
    <td><%= municipio.nome %></td>
    <td><%= link_to content_tag(:span, "Exibir"), municipio, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_municipio_path(municipio), :class => "btn btn-info btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Municipio', new_municipio_path %>
