<div class="page-header"><h1>Eleitores</h1></div>

<%= search_form_for @q, :html => {:class => "form-horizontal form-search"} do |f| %>
  <%= f.text_field :nome_cont, :placeholder => "Nome do Eleitor" %> <strong>ou</strong>
  <%= f.text_field :cpf_eq, :placeholder => "Número do CPF" %>
  <%= f.submit "Buscar", :class => "btn btn-success" %>
<% end %>

<table class="table table-condensed table-striped">
  <tr>
    <th>Nome</th>
    <th>Mãe</th>
    <th>RG</th>
    <th>Nascimento</th>
    <th>CPF</th>
    <th>Endereco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eleitors.each do |eleitor| %>
  <tr>
    <td><%= eleitor.nome %></td>
    <td><%= eleitor.nome_mae %></td>
    <td><%= eleitor.rg %></td>
    <td><%= eleitor.data_nascimento.strftime('%d/%m/%Y') %></td>
    <td><%= eleitor.cpf %></td>
    <td><%= eleitor.endereco.descricao %></td>
    <td><%= link_to content_tag(:span, "Exibir"), eleitor, :class => "btn btn-small" %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_eleitor_path(eleitor), :class => "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @eleitors %>

<br /><br />

<%= link_to 'Novo Eleitor', new_eleitor_path, :class => "btn btn-info btn-small" %>
