<%= simple_form_for(@cargo_eleicao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :eleicao, :include_blank => false, :label_method => lambda { |ele| "#{ele.ano}" if ele.status == true } %>
    <%= f.association :cargo, :include_blank => false, :label_method => lambda { |car| "#{car.nome}" } %>
    <%= f.association :uf, :include_blank => false, :label_method => lambda { |uf| "#{uf.nome}" }, :input_html => { :rel => "/uf/municipios_do_estado", :class => "estado" } %>
    <%= f.association :municipio %>

    <%= f.input :vagas %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
