<div class="page-header"><h1>Lista de cargo_eleicaos</h1></div>

<table class="table table-condensed table-striped">
  <tr>
    <th>Cargo</th>
    <th>Eleicao</th>
    <th>Uf</th>
    <th>Municipio</th>
    <th>Vagas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cargo_eleicaos.each do |cargo_eleicao| %>
  <tr>
    <td><%= cargo_eleicao.cargo.nome %></td>
    <td><%= cargo_eleicao.eleicao.ano %></td>
    <td><%= cargo_eleicao.uf.sigla if cargo_eleicao.uf %></td>
    <td><%= cargo_eleicao.municipio.nome if cargo_eleicao.municipio%></td>
    <td><%= cargo_eleicao.vagas %></td>
    <td><%= link_to content_tag(:span, "Exibir"), cargo_eleicao, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_cargo_eleicao_path(cargo_eleicao), :class => "btn btn-info btn-small" %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @posts %>

<br />

<%= link_to 'Nova Cargo eleicao', new_cargo_eleicao_path %>
