<%= simple_form_for(@coligacao) do |c| %>
  <%= c.error_notification %>

  <%= c.input :nome %>

  <%= c.simple_fields_for :cargo_eleicao do |ce| %>
  	<%= render "cargo_eleicaos/cargo_eleicao_fields", f: ce %>
  <% end %>
  	
  <div id="partidos_disponiveis">
  </div>

  <div class="form-inputs">
    <%= c.button :submit, "Salvar" %>
  </div>
<% end %>
