<%= simple_form_for(@coligacao) do |f| %>
  <%= f.error_notification %>
  	
  	<%= f.label	"Cargo", :required => true %>
  	<%= select_tag "Cargos", options_for_select(@cargos.collect {|p| [ p.nome, p.id ] }), :onchange => "" %>
    <%= f.input :nome %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
