<p id="notice"><%= notice %></p>

<p>
  <b>Cargo:</b>
  <%= @coligacao.cargo_eleicao.cargo.nome %>
</p>

<p>
  <b>Nome:</b>
  <%= @coligacao.nome %>
</p>

<p>
  <b>Partidos Coligados</b>
  <ul>
	  <% @coligacao.partidos.each do |p| %>
	  	 <li><%= p.nome %></li>
		<% end %>
	</ul>
</p>


<%= link_to content_tag(:span, "Alterar"), edit_coligacao_path(@coligacao) %> |
<%= link_to content_tag(:span, "Voltar"), coligacaos_path %>
