<p id="notice"><%= notice %></p>

<p>
  <b>Cargo:</b>
  <%= @coligacao.cargo_eleicao.cargo.nome %>
</p>

<p>
  <b>Nome:</b>
  <%= @coligacao.nome %>
</p>

<% if  @coligacao.cargo_eleicao.municipio and @coligacao.cargo_eleicao.municipio.uf %>
  <p>
    <b>Estado:</b>
    <%= @coligacao.cargo_eleicao.municipio.uf.nome %>
  </p>
<% end %>

<% if  @coligacao.cargo_eleicao.municipio %>
  <p>
    <b>Municipio:</b>
    <%= @coligacao.cargo_eleicao.municipio.nome %>
  </p>
<% end %>

<p>
  <b>Partidos Coligados</b>
  <ul>
	  <% @coligacao.partidos.each do |p| %>
	  	 <li><%= p.nome %></li>
		<% end %>
	</ul>
</p>


<%= link_to content_tag(:span, "Alterar"), edit_coligacao_path(@coligacao) %> |
<%= link_to content_tag(:span, "Voltar"), coligacaos_path %>
