<%= simple_form_for(@titulo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :data_emissao %>
    <%= f.input :juiz_eleitoral %>
    <%= f.input :status %>
    <%= f.association :eleitor, label_method: lambda { |obj| obj.nome } %>
    <%= f.association :secao, label_method: lambda { |obj| obj.codigo } %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
