<p id="notice"><%= notice %></p>

<p>
  <b>Data de Emissão:</b>
  <%= @titulo.data_emissao.strftime('%d/%m/%Y') %>
</p>

<p>
  <b>Juiz eleitoral:</b>
  <%= @titulo.juiz_eleitoral %>
</p>

<p>
  <b>Status:</b>
  <%= @titulo.status ? "Ativo" : "Bloqueado" %>
</p>

<p>
  <b>Eleitor:</b>
  <%= @titulo.eleitor.nome %>
</p>

<p>
  <b>Seção:</b>
  <%= @titulo.secao.codigo %>
</p>


<%= link_to content_tag(:span, "Alterar"), edit_titulo_path(@titulo) %> |
<%= link_to content_tag(:span, "Voltar"), titulos_path %>
