<% if @header %>
	<div class="page-header"><h1><small><%= @header %></small></h1></div>
<% end %>

<table class="table table-condensed table-bordered table-striped">

	<% if @candidatos.size > 0 %>

		<tr>
			<th>Candidato</th>
			<th>Cargo</th>
		  <th>Partido</th>
		  <th>Total de Votos</th>
		</tr>

		<% @candidatos.each do |k,v| %>
			  <tr>
					<td><%= v.candidatura.candidato.nome_campanha %></td>
					<td><%= v.candidatura.cargo_eleicao.cargo.nome %></td>
			    <td><%= v.candidatura.partido.nome %></td>
			    <td><%= v.qtd_votos %></td>
			  </tr>
		<% end %>
	<% end %>
</table>

<br />

Total de Votos do Município: <%= @total_votos_municipio %>