<div class="page-header"><h1>Estados</h1></div>

<table class="table table-condensed table-striped">
  <tr>
    <th><%= sort_link @q, :sigla, "Sigla" %></th>
    <th><%= sort_link @q, :nome, "Nome" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ufs.each do |uf| %>
  <tr>
    <td><%= uf.sigla %></td>
    <td><%= uf.nome %></td>
    <td><%= link_to content_tag(:span, "Exibir"), uf, :class => "btn btn-small" %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_uf_path(uf), :class => "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova UF', new_uf_path, :class => "btn btn-info btn-small"  %>
