<%= simple_form_for(@zona) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descricao %>
    <%= f.association :endereco, :include_blank => false, :collection => Endereco.all, :label_method => lambda { |obj| obj.descricao } %>  
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
