<p id="notice"><%= notice %></p>

<p>
  <b>Descrição:</b>
  <%= @zona.descricao %>
</p>

<p>
  <b>Endereco:</b>
  <%= @zona.endereco %>
</p>

<p>
  <b>Códigos das Seções:</b>
  <%= @zona.secaos.map { |e| e.codigo } %>
</p>


<%= link_to content_tag(:span, "Alterar"), edit_zona_path(@zona) %> |
<%= link_to content_tag(:span, "Voltar"), zonas_path %>
