<%= simple_form_for(@coligacao_partido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.association :coligacao, :include_blank => false, :label_method => lambda { |col| "#{col.nome}"} %>
    <%= f.input :partido_id, :collection => @partidos, :include_blank => false, :label_method => lambda { |par| "#{par.nome}"} %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
