<h1>Lista de coligacao_partidos</h1>

<table>
  <tr>
    <th>Coligacao</th>
    <th>Partido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coligacao_partidos.each do |coligacao_partido| %>
  <tr>
    <td><%= coligacao_partido.coligacao %></td>
    <td><%= coligacao_partido.partido %></td>
    <td><%= link_to content_tag(:span, "Exibir"), coligacao_partido %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_coligacao_partido_path(coligacao_partido) %></td>
    <td><%= link_to content_tag(:span, "Excluir"), coligacao_partido, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Coligacao partido', new_coligacao_partido_path %>
