<h1>Lista de eleicaos</h1>

<table>
  <tr>
    <th>Ano</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eleicaos.each do |eleicao| %>
  <tr>
    <td><%= eleicao.ano %></td>
    <td><%= eleicao.status ? "Em andamento" : "Fechada" %></td>
    <td><%= link_to content_tag(:span, "Exibir"), eleicao %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_eleicao_path(eleicao) %></td>
    <td><%= link_to content_tag(:span, "Excluir"), eleicao, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Eleicao', new_eleicao_path %>
