<div class="page-header"><h1>Lista de enderecos</h1></div>

<table class="table table-condensed table-striped">
  <tr>
    <th>Municipio</th>
    <th>Logradouro</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>Cep</th>
    <th>Complemento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enderecos.each do |endereco| %>
  <tr>
    <td><%= endereco.municipio.nome %></td>
    <td><%= endereco.logradouro %></td>
    <td><%= endereco.numero %></td>
    <td><%= endereco.bairro %></td>
    <td><%= endereco.cep %></td>
    <td><%= endereco.complemento %></td>
    <td><%= link_to content_tag(:span, "Exibir"), endereco, :class => "btn btn-small" %></td>
    <td><%= link_to content_tag(:span, "Alterar"), edit_endereco_path(endereco), :class => "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Endereco', new_endereco_path %>
