<%= simple_form_for @candidato, html: {class: 'form-horizontal'}  do |c| %>
	<% unless @candidato.errors[:base].empty? %>
    <div class="alert alert-error">
      <%= c.error :base %>
    </div>
  <% end %>

  <% unless @candidato.candidatura.errors[:base].empty? %>
    <div class="alert alert-error">
      <%= c.error :base %>
    </div>
  <% end %>

  <h4>Dados do Eleitor</h4>		    
  <br />
	<%= c.simple_fields_for :eleitor do |ele| %>
		<%= c.input :cpf, label: "CPF", wrapper: :append do %>
			<%= c.input_field :cpf, value: @candidato.eleitor.cpf %><span class="add-on"><a class="btn btn-small btn-info" onclick="busca_eleitor_cpf();">Buscar Eleitor</a></span>
		<% end %>	
	  <%= c.input :eleitor_id, as: :hidden %>
		<%= ele.input :nome, required: false, disabled: true %>
		<%= ele.input :nome_mae, required: false, disabled: true %>
		<%= ele.input :rg, required: false, disabled: true %>
		<%= ele.input :data_nascimento, as: :string, required: false, disabled: true %>
		<%= ele.input :endereco, as: :string, required: false, disabled: true, input_html: {style: 'width: 335px'} %>
		<br />
		<h4>Dados do Candidato</h4>
		<br />
    <%= c.input :nome_campanha, label: "Nome de Campanha", input_html: {style: 'width: 335px'} %>
    
    <%= c.simple_fields_for :candidatura do |can| %>    	
    	<%= can.input :partido_id, include_blank: false, collection: Partido.all, label_method: lambda { |obj| obj.nome }, input_html: {style: 'width: 350px'} %>    	
  		
  		<% if @candidato.candidatura.cargo_eleicao %>
  			<%= can.association :cargo_eleicao, include_blank: false, collection: eleicao_atual.cargos.uniq, label_method: lambda { |obj| obj.nome }, selected: @candidato.candidatura.cargo_eleicao.cargo.id %>
			<% else %>
  			<%= can.association :cargo_eleicao, include_blank: false, collection: eleicao_atual.cargos.uniq, label_method: lambda { |obj| obj.nome } %>
  		<% end %>
			<%= can.input :codigo_candidato %>
  	<% end %>
  	<br />
		<%= submit_tag 'Cancelar', type: 'button', class: "btn", onclick: "history.back();" %>
  	<%= ele.button :submit, "Salvar" %>
  <% end %>
<% end %>

<% javascript_tag do %>
  $(document).ready(function() {
    busca_eleitor_cpf();
  });
<% end %> 