<div class="page-header"><h1>Dados do Candidato</h1></div>

<p>
  <b>Nome:</b>
  <%= @candidato.eleitor.nome %>
</p>

<p>
  <b>Nome de Campanha:</b>
  <%= @candidato.nome_campanha %>
</p>

<p>
  <b>Código do Candidato:</b>
  <%= @candidato.candidatura.codigo_candidato %>
</p>

<p>
  <b>Partido:</b>
  <%= @candidato.candidatura.partido.nome %>
</p>

<p>
  <b>Cargo:</b>
  <%= @candidato.candidatura.cargo_eleicao.cargo.nome %>
</p>

<% if @candidato.candidatura.cargo_eleicao.municipio %>
  <p>
    <b>Município:</b>
    <%= @candidato.candidatura.cargo_eleicao.municipio.nome %>
  </p>
<% end %>

<% if @candidato.candidatura.cargo_eleicao.uf %>
  <p>
    <b>UF:</b>
    <%= @candidato.candidatura.cargo_eleicao.uf.nome %>
  </p>
<% end %>

<p>
  <b>CPF:</b>
  <%= @candidato.eleitor.cpf %>
</p>

<p>
  <b>RG:</b>
  <%= @candidato.eleitor.rg %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @candidato.eleitor.data_nascimento.strftime('%d/%m/%Y')	 %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @candidato.eleitor.data_nascimento.strftime('%d/%m/%Y')  %>
</p>

<%= link_to content_tag(:span, "Alterar"), edit_candidato_path(@candidato) %> |
<%= link_to content_tag(:span, "Voltar"), candidatos_path %>
